<template>
  <div class="flex w-full bg-secondary">
    <div class="w-full">
      <ScheduleXCalendar class="z-0" v-if="calendarApp" :calendar-app="calendarApp" />
    </div>
    <EventEditor :is-open="isOpen" @toggle-sidebar="toggleSidebar" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { ScheduleXCalendar } from '@schedule-x/vue'
import { createCalendar, viewDay, viewWeek } from '@schedule-x/calendar'
import { createEventRecurrencePlugin } from "@schedule-x/event-recurrence"
import { createDragAndDropPlugin } from '@schedule-x/drag-and-drop'
import { createResizePlugin } from '@schedule-x/resize'
import '@schedule-x/theme-default/dist/index.css'
import { AdminEvent, getEvents, updateICalOnServer } from '@/api/event.api'
import { addHours, formatDateTime, getICalData, getTZOffset, parseNextWord } from '@/custom-utils/ical.parser'
import { formatDateTimeForICal, toTimeForICal } from '@/custom-utils/ical.formatter'
import { IEventTime } from '@/interfaces/ical.interface'
import EventEditor from '@/models/calendar/event-editor.vue'

function toggleSidebar() {
  isOpen.value = !isOpen.value;
}

const directEvents = ref<IEventTime[]>([]);
let adminEvents: AdminEvent[] = []

const calendarApp = ref<any>(null);
const isOpen = ref(false);

const updateICalDate = (event_id: number, icalData: string, index: number, startTime: string, endTime: string) => {
  const dtstartRegex = /DTSTART:[^\n]*/g;
  const dtendRegex = /DTEND:[^\n]*/g;

  const eventData = adminEvents.find(iCal => iCal.id === event_id)?.icalendar_data || '';
  const tzname = parseNextWord(eventData, 'TZNAME:') || 'GMT+3';
  const tzOffset = getTZOffset(tzname);

  const dtstartMatches = [...icalData.matchAll(dtstartRegex)];
  const dtendMatches = [...icalData.matchAll(dtendRegex)];

  if (dtstartMatches[index] && dtendMatches[index]) {
    let updatedIcalData = icalData;

    let startTimeDate = formatDateTime(formatDateTimeForICal(startTime));
    let endTimeDate = formatDateTime(formatDateTimeForICal(endTime));

    startTimeDate = addHours(startTimeDate, -tzOffset);
    endTimeDate = addHours(endTimeDate, -tzOffset);

    updatedIcalData = updatedIcalData.replace(dtstartMatches[index][0], `DTSTART:${toTimeForICal(startTimeDate)}`);
    updatedIcalData = updatedIcalData.replace(dtendMatches[index][0], `DTEND:${toTimeForICal(endTimeDate)}`);

    const iCalIndex = adminEvents.findIndex(adminEvent => adminEvent.id === event_id);
    if (iCalIndex !== -1) {
      adminEvents[iCalIndex].icalendar_data = updatedIcalData;
    }

    updateICalOnServer(event_id, updatedIcalData);
  }
}

const loadEvents = async () => {
  try {
    const eventResponses = await getEvents();
    directEvents.value = eventResponses.flatMap(e => getICalData(e.id!, e.name, e.icalendar_data));
    adminEvents = eventResponses;

    calendarApp.value = createCalendar({
      selectedDate: '2024-06-15',
      views: [viewDay, viewWeek],
      defaultView: viewWeek.name,
      locale: 'ru-RU',
      plugins: [
        createEventRecurrencePlugin(),
        createDragAndDropPlugin(),
        createResizePlugin(30)
      ],
      events: directEvents.value,
      callbacks: {
        onRangeUpdate(range) {
          console.log('new calendar range start date', range.start)
          console.log('new calendar range end date', range.end)
        },
        onEventUpdate(updatedEvent) {
          const event_id = updatedEvent.event_id;

          updateICalDate(
            event_id,
            adminEvents.find(iCal => iCal.id === event_id)?.icalendar_data || '',
            updatedEvent.index,
            updatedEvent.start,
            updatedEvent.end
          );
          console.log('onEventUpdate', updatedEvent)
        },
        onEventClick(calendarEvent) {
          console.log('onEventClick', calendarEvent)
        },
        onClickDate(date) {
          console.log('onClickDate', date) // e.g. 2024-01-01
        },
        onClickDateTime(dateTime) {
          console.log('onClickDateTime', dateTime) // e.g. 2024-01-01 12:37
        },
        onClickAgendaDate(date) {
          console.log('onClickAgendaDate', date) // e.g. 2024-01-01
        },
        onDoubleClickDate(date) {
          console.log('onClickDate', date)
        },
        onDoubleClickDateTime(dateTime) {
          const startTime = formatDateTimeForICal(dateTime);
          const duration = 90;
          const endTime = startTime + duration;

          isOpen.value = true;

          console.log(isOpen.value)
          console.log(startTime)
          console.log('onDoubleClickDateTime', dateTime)
        },
        onClickPlusEvents(date) {
          console.log('onClickPlusEvents', date) // e.g. 2024-01-01
        },
        onSelectedDateUpdate(date) {
          console.log('onSelectedDateUpdate', date)
        },
      },
      calendars: {
        weekday: {
          colorName: 'weekday',
          lightColors: {
            main: '#f9d71c',
            container: '#fff5aa',
            onContainer: '#594800',
          },
          darkColors: {
            main: '#fff5c0',
            onContainer: '#fff5de',
            container: '#a29742',
          },
        },
        weekend: {
          colorName: 'weekend',
          lightColors: {
            main: '#f91c45',
            container: '#ffd2dc',
            onContainer: '#59000d',
          },
          darkColors: {
            main: '#ffc0cc',
            onContainer: '#ffdee6',
            container: '#a24258',
          },
        },
      }
    });
  } catch (error) {
    console.error("Ошибка загрузки событий:", error);
  }
};

onMounted(async () => {
  await loadEvents();
});
</script>
