<template>
  <div class="block w-full">
    <h1 class="text-center text-xl my-10">Список пользователей</h1>
    <DataTable :columns="columns" :data="users" @actionPerformed="handleActionPerformed" />
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { IUser, getUsers } from '@/api/userslist.api';
import { columns } from '@/models/admin/userlist/columns'
import DataTable from '@/models/admin/billings/data-table.vue'

const users = ref<IUser[]>([]);

const fetchData = async () => {
  try {
    const fetchedUsers = (await getUsers()).filter(u => u.first_name !== 'root');
    users.value = fetchedUsers;
    console.log('Fetched users:', users.value);
  } catch (error) {
    console.error('Error fetching users:', error);
  }
}

const handleActionPerformed = () => {
  fetchData()
}

onMounted(async () => {
  await fetchData();
})
</script>

<style scoped>
.bg-logo-blue {
  background-color: #6193b1;
}
</style>
