<template>
  <div class="z-50 left-0">
    <div :class="{ 'w-96 pl-[24px] pr-[24px]': isOpen, 'w-20 items-center': !isOpen }"
      class="min-h-screen h-full bg-secondary z-50 transition-all duration-200 ease-in-out flex flex-col relative">
      <div class="mt-2 space-y-8">
        <button @click="$emit('toggle-sidebar')"
          class="p-2 rounded-3xl bg-gray-200 absolute left-0 top-14 transform -translate-x-1/2">
          <img class="w-6 h-6 rounded-3xl" :class="{ 'rotate-180': !isOpen }" src="@/assets/icons/double-arrow.svg" />
        </button>

        <div v-if="isOpen" class="flex flex-col items-center gap-y-6">
          <h3 class="text-center text-lg text-nowrap">Редактирование мероприятия</h3>

          <Input v-model="title" placeholder="Название мероприятия" />

          <Input min="0" type="number" v-model="duration" placeholder="Длительность мероприятия" />

          <Textarea v-model="description" placeholder="Описание мероприятия" />

          <TagsInput class="w-full" v-model="ticketNumbers">
            <TagsInputItem v-for="item in ticketNumbers" :key="item" :value="item">
              <TagsInputItemText />
              <TagsInputItemDelete />
            </TagsInputItem>

            <TagsInputInput placeholder="Номера билетов" />
          </TagsInput>

          <NumberField class="w-full" id="minCapacity" :default-value="minCapacity" :min="0">
            <Label for="minCapacity">Максимальное количество человек</Label>
            <NumberFieldContent>
              <NumberFieldDecrement />
              <NumberFieldInput />
              <NumberFieldIncrement />
            </NumberFieldContent>
          </NumberField>

          <NumberField class="w-full" id="maxCapacity" :default-value="maxCapacity" :min="0">
            <Label for="maxCapacity">Минимальное количество человек</Label>
            <NumberFieldContent>
              <NumberFieldDecrement />
              <NumberFieldInput />
              <NumberFieldIncrement />
            </NumberFieldContent>
          </NumberField>

          <Popover v-model:open="open">
            <PopoverTrigger as-child>
              <Button variant="outline" role="combobox" :aria-expanded="open" class="w-full justify-between">
                {{ value
                  ? frameworks.find((framework) => framework.value === value)?.label
                  : "Выбрать мероприятие" }}
                <ChevronsUpDown class="ml-2 h-4 w-4 shrink-0 opacity-50" />
              </Button>
            </PopoverTrigger>
            <PopoverContent class="w-80 p-0">
              <Command>
                <CommandInput class="h-9" placeholder="Search framework..." />
                <CommandEmpty>No framework found.</CommandEmpty>
                <CommandList>
                  <CommandGroup>
                    <CommandItem v-for="framework in frameworks" :key="framework.id" :value="framework.value" @select="(ev) => {

                      if (typeof ev.detail.value === 'string') {
                        value = ev.detail.value

                        placeId = framework.id;
                        console.log(placeId);
                      }
                      open = false
                    }">
                      {{ framework.label }}
                      <Check :class="cn(
                        'ml-auto h-4 w-4',
                        value === framework.value ? 'opacity-100' : 'opacity-0',
                      )" />
                    </CommandItem>
                  </CommandGroup>
                </CommandList>
              </Command>
            </PopoverContent>
          </Popover>

          <div class="w-full">
            <p class="font-medium text-sm mb-2">Даты мероприятия</p>
            <Popover>
              <PopoverTrigger as-child>
                <Button variant="outline" :class="cn(
                  'w-full justify-start text-left font-normal',
                  !dateValue && 'text-muted-foreground',
                )">
                  <CalendarIcon class="mr-2 h-4 w-4" />
                  <template v-if="dateValue.start">
                    <template v-if="dateValue.end">
                      {{ df.format(dateValue.start.toDate(getLocalTimeZone())) }} - {{
                        df.format(dateValue.end.toDate(getLocalTimeZone())) }}
                    </template>

                    <template v-else>
                      {{ df.format(dateValue.start.toDate(getLocalTimeZone())) }}
                    </template>
                  </template>
                  <template v-else>
                    Pick a date
                  </template>
                </Button>
              </PopoverTrigger>
              <PopoverContent class="w-auto p-0">
                <RangeCalendar v-model="dateValue" initial-focus :number-of-months="2"
                  @update:start-value="(startDate) => dateValue.start = startDate" />
              </PopoverContent>
            </Popover>
          </div>
          <DateSelector :dateValue='dateValue' />

          <!-- <div>
            <TimePicker label="Choose Time" @update:time="handleTimeUpdate" />
            <p>Selected Time: {{ selectedTime }}</p>
          </div> -->

          <Button class="w-full" @click="saveChangesHandler">Сохранить</Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Input } from '@/components/ui/input'
import { Button } from '@/components/ui/button'
import { Textarea } from '@/components/ui/textarea'
import {
  NumberField,
  NumberFieldContent,
  NumberFieldDecrement,
  NumberFieldIncrement,
  NumberFieldInput,
} from '@/components/ui/number-field'
import { Label } from '@/components/ui/label'
import { addEvent } from '@/api/event.api'
import { onMounted, ref, type Ref } from 'vue'
import { Check, ChevronsUpDown } from 'lucide-vue-next'
import { cn } from '@/utils'
import {
  Command,
  CommandEmpty,
  CommandGroup,
  CommandInput,
  CommandItem,
  CommandList,
} from '@/components/ui/command'
import {
  Popover,
  PopoverContent,
  PopoverTrigger,
} from '@/components/ui/popover'
import type { DateRange } from 'radix-vue'
import { RangeCalendar } from '@/components/ui/range-calendar'
import { TagsInput, TagsInputInput, TagsInputItem, TagsInputItemDelete, TagsInputItemText } from '@/components/ui/tags-input'
import getPlaces from '@/api/places.api'
import { places } from '@/store/places.store'
import { generateICal } from '@/custom-utils/ical.formatter'
import { Calendar as CalendarIcon } from 'lucide-vue-next'
import {
  CalendarDate,
  DateFormatter,
  getLocalTimeZone,
} from '@internationalized/date'

let frameworks: {
  id: number;
  value: string;
  label: string;
}[] = []

onMounted(async () => {
  await getPlaces(new Date());
  frameworks = places.all.map(el => ({
    id: el.id,
    value: el.name,
    label: el.name
  }))
})

defineProps<{
  isOpen: boolean
}>()

const open = ref(false)
const value = ref()

const df = new DateFormatter('ru-RU', {
  dateStyle: 'medium',
})

const dateValue = ref({
  start: new CalendarDate(2024, 6, 15),
  end: new CalendarDate(2024, 6, 15).add({ days: 20 }),
}) as Ref<DateRange>

const selectedTime = ref('');

const handleTimeUpdate = (time: string) => {
  selectedTime.value = time;
};

const title = ref<string>('')
const description = ref<string>('')
const duration = ref<string>('');
const minCapacity = ref<number>(1);
const maxCapacity = ref<number>(90);
let placeId: number | null = null;
const start_date = ref();
const end_date = ref();

const saveChangesHandler = async () => {
  if (start_date.value !== null && end_date.value !== null) {
    const iCalData = generateICal({
      start_time: start_date.value,
      end_time: end_date.value,
      title: title.value
    })

    await addEvent({
      place: placeId!,
      name: title.value,
      description: description.value,
      duration_minutes: duration.value as unknown as number,
      icalendar_data: iCalData,
      min_capacity: minCapacity.value,
      max_capacity: maxCapacity.value,
      tickets: ticketNumbers.value as unknown as number[]
    });
  }
}

const ticketNumbers = ref<string[]>([])
</script>
