<template>
  <input
    class="w-full" 
    id="time-input" 
    type="time" 
    v-model="time" 
    @input="updateTime"
  />
</template>

<script setup lang="ts">
import { ref } from 'vue';

const emit = defineEmits<{
  (e: 'update:time', time: string): void;
}>();

const time = ref('');

const updateTime = () => {
  emit('update:time', time.value);
};
</script>

<style scoped>
label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

input[type="time"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="time"]:focus {
  border-color: #007BFF;
}
</style>
